.cabecalho {
  background: url(/assets/imagens/fundo-cabecalho.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho .logo {
  width: 46%;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.cabecalho .logo .imagem{
  width: 20%;
}

.cabecalho p {
  font-size: 3rem;
  font-weight: 700;
  color: #6BD1FF;
}

#logoutButton {
  margin-right: 3rem;
}

@media (max-width: 576px) {
  .cabecalho .logo {
    padding: 2rem;
  }
  .cabecalho p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  .cabecalho .logo {
    width: 90%;
  }
  .cabecalho .imagem {
    display: none;
  }
}
